<section class="form-page">
  <h1>Create A New Product</h1>

  <%= form_for @product do |f| %>
   <section class="field-wrapper">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </section>

   <section class="field-wrapper">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </section>

    <section class="field-wrapper">
      <%= f.label :price_in_cents %>
      <%= f.number_field :price_in_cents %>
    </section>

    <section class="field-wrapper">
      <%= f.submit "Submit", class: 'btn-default' %>
    </section>
  <% end %>
</section>
