<section class="product-page">
  <div class="product-wrapper">
    <h1 class="product-name">
      <%= @product.name %>
      <span class="product-price">(<%= @product.price_in_dollars %>)</span>
    </h1>

    <p class="product-description"><%= @product.description %></p>

    <%= link_to('Edit', edit_product_path, class: 'btn-default') %>
    <%= link_to('Delete', product_path(@product), class: 'btn-default', method: :delete, data: {confirm: "Are you sure you want to delete #{@product.name}? This cannot be undone!"}) %>
  </div>

  <div class="product-reviews">
    <h2>Reviews (<%= @product.reviews.count %>)</h2>

    <ul>
      <% @product.reviews.each do |review| %>
        <li><%= review.comment %></li>
        <li>Posted: <%= review.created_at %></li>
      <% end %>
    </ul>
  </div>

  <h4>New Review</h4>
    <%= form_for([@product, @review]) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :comment %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

</section>
